.App-wrapper {
  width: 600px;
  margin: 0 auto;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.App-wrapper.hideHeaderFooter {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .App-wrapper {
    width: 95% !important;
  }
}
