.App-wrapper {
  width: 600px;
  margin: 0 auto;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.App-wrapper.hideHeaderFooter {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-app-header {
  width: max-content !important;
  color: #141414 !important;
  text-decoration: none !important;
  text-align: center !important;
}

@media only screen and (max-width: 600px) {
  .App-wrapper {
    width: 95% !important;
  }
  .name-app-header {
    display: none !important;
  }
}
