.socialIcons {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.upperDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  max-height: max-content;
}
