.indivTransCard {
  margin: 20px 0px;
  padding: 15px 25px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.indivTransCard.withdraw {
  background-color: #f7e1e26e;
}

.indivTransCard.deposit {
  background-color: #e4f7e18a;
}

.indivTransIcon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.indivTransIcon.withdraw {
  color: #f80022;
  background-color: #f7e1e2;
}

.indivTransIcon.deposit {
  color: #276800;
  background-color: #e4f7e1;
}

.indivTransDetails {
  width: 70%;
}

.indivTransDetails .indivTransType,
.indivTransAmount {
  font-weight: 600;
  color: #323232;
}

.indivTransDetails .indivTransDateTime {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.indivTransIcon img {
  height: 40px;
  width: 40px;
}
