.indivTransCard {
  margin: 20px 0px;
  padding: 15px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.indivTransCard.withdraw {
  background-color: #f7e1e26e;
}

.indivTransCard.deposit {
  background-color: #e4f7e18a;
}

.indivTransIcon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.indivTransIcon.withdraw {
  color: #f80022;
  background-color: #f7e1e2;
}

.indivTransIcon.deposit {
  color: #276800;
  background-color: #e4f7e1;
}

.indivTransDetails {
  width: 75%;
}

.indivTransDetails .indivTransType {
  display: flex;
  margin-bottom: 5px;
}

.indivTransDetails .indivTransType,
.indivTransAmount {
  font-weight: 600;
  color: #323232;
}

.indivTransAmount {
  font-size: 20px;
}

.indivTransDetails .indivTransDateTime {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.indivTransIcon img {
  height: 40px;
  width: 40px;
}

.indivTransactionUpperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.transactionStatus {
  margin-left: 25px;
  background: black;
  padding: 2px 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
  text-transform: capitalize;
}

.transactionStatus.pending {
  background-color: #fff700;
}

.transactionStatus.rejected {
  background-color: #c30000;
  color: white;
}

.transactionStatus.success {
  background-color: #086c06;
  color: white;
}

.pendingTransactions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 30px 0px 10px 0px;
}

@media only screen and (max-width: 600px) {
  .indivTransDetails {
    width: 65%;
  }
}
