.withdraw-deposit-page {
  padding: 20px 0px;
  /* border: 1px solid; */
  height: 90%;
  overflow-y: scroll;
  width: 100%;
}

.withdraw-deposit-page .back-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: #626262;
}

.withdraw-deposit-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.withdraw-deposit-header .page-heading {
  width: 95%;
  text-align: center;
}

.withdraw-deposit-page .amount-input-div {
  max-height: -webkit-fill-available;
  min-height: 300px;
  width: 350px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 350px) {
  .withdraw-deposit-page .amount-input-div {
    width: 100%;
  }
}
