.shareRefCode {
  margin: 30px auto 30px auto;
  padding: 0px 10px;
  background-color: #1976d2;
  border-radius: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentBalanceContainer {
  padding: 20px 10px;
  background-color: #f9f9f9;
  margin: 25px 0px;
  border-radius: 10px;
}

.currentBalance {
  font-weight: 600 !important;
  font-size: 28px !important;
  font-family: "Lato", sans-serif !important;
  margin: 10px 0px 20px 0px !important;
}

.depositWithdrawBtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.indivDepositWithdrawBtn {
  width: 48% !important;
}

.latestTransactions .header {
  display: flex;
  justify-content: space-between;
}

.latestTransactions .header a {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
  .depositWithdrawBtns {
    justify-content: center;
  }
  .indivDepositWithdrawBtn {
    width: 95% !important;
    margin: 10px 0px 5px 0px !important;
  }
  .currentBalanceContainer {
    padding: 10px 10px;
  }
}
